*.o
*.a
*.so
_obj
_test
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.exe
*.exe~
*.test
*.prof
*.rar
*.zip
!zoneinfo.zip
*.gz
*.psd
*.bmd
*.cfg
*.pptx
*.log
*.log.202*
*nohup.out
*settings.pyc
*.sublime-project
*.sublime-workspace
.DS_Store
.vim
/.idea
/backend/.idea
/.vscode
/output
/vendor
/conf/config.local.yml
/conf/config.dev.yml
/conf/client.sup_dev.yml
build_debug.sh
debug.sh
kill_dlv.sh
log.txt
coverage.out
/biz/test/sql/temp.sql
ci/init_es.sh
/sup
*.swp
/cron_server
/conf/kitex_remote_config.json
go.work
go.work.sum.mocka
/frontend/dist
/frontend/node_modules
/.npm-cache