:root {
  font-family: 'PingFang SC', 'Microsoft YaHei', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1f1f1f;
  background-color: #f5f9ff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #f5f9ff;
}

a {
  color: #1677ff;
}
